# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [ ]:
# for keyword, counter/iterator, in keyword, object

for i in range(10):
    print(i)

print("\n")
name = "Marc Engle"
for letter in name:
    if letter == " ":
        print("This is a space!")
    else:
        print(letter)

##### Using 'in' keyword

In [ ]:
#in is what accesses the items in an iterable
for num in range(15):
    print(num**2)

##### Continue Statement

In [ ]:
#continue

for i in range(5):
    print(i)
for i in range(10):
    if i == 5 or i == 6:
        continue
    print(i)

##### Break Statement

In [ ]:
#will break out of current loop
for i in range(25):
    if i == 23:
        break
    print(i)

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration
for i in range(1234):
    pass
    
for i in range(10):
    print(i)
    
def do_this_later():
    # This function is going to do great things
    # remember to do stuff with this funciton
    pass

##### Double For Loops

In [ ]:
for i in range(5):
    print("i = ", i)
    for j in range(5):
        print("j = ", j)

### While Loops

In [ ]:
#while keyword, condition statement
#while loop will run based on the condition statement

counter = 0
while counter < 11:
    counter += 1
    print(counter)
    
counter1 = 1
while counter1 < 100:
    print(counter1)
    counter1 += 2

##### looping 'While True'

In [9]:
# true as a condition for while loop to run
game_over = True
counter = 0
while game_over:
    counter += 1
    print("Infinite Loops")
    if counter == 10:
        game_over = False

Infinite Loops
Infinite Loops
Infinite Loops
Infinite Loops
Infinite Loops
Infinite Loops
Infinite Loops
Infinite Loops
Infinite Loops
Infinite Loops

##### While & For Loops Used Together

In [ ]:
j = 0

while j < 10:
    print("\n WHile loop iteration: " + str(j))
    for i in range(2):
        print ("For loop iteration: " + str(1))
        
    j += 1

##### The Range Function

In [5]:
# range(start, stop, step) - stop is required and start defaults to 0 if none is given
for i in range(10): #stop
    print(i)
print("\n")
for i in range(2, 10): #start and stop
    print(i)
print("\n")  
for i in range(1, 20, 3): #start, stop, step
    print(i)

0
1
2
3
4
5
6
7
8
9


2
3
4
5
6
7
8
9


1
4
7
10
13
16
19

### String Manipulation Exercise

In [32]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Loop through the names list, remove white space and capitalize the first letter of each name. Print each new name.

for item in names:
    print(item.strip().title())

Connor
Max
Evan
Jordan

## Lists

##### Declaring Lists

In [35]:
our_list = [] # <-- empty list
#list will always be square brackets

names = ["Ryan", "Alex", "Kate", "Saraa", "Sam", "Gus"]

numbers = [1,2,3,4,6,7,4,5,2]

print(names)
print(numbers)

stuff = [1, 3, 4.5, 7.6, "cool stuff", ['hello', 'goodbye']]
print(stuff)

['Ryan', 'Alex', 'Kate', 'Saraa', 'Sam', 'Gus']
[1, 2, 3, 4, 6, 7, 4, 5, 2]
[1, 3, 4.5, 7.6, 'cool stuff', ['hello', 'goodbye']]

##### Indexing a List

In [42]:
# [start: stop: step] --> last item [-1]
names = ["Ryan", "Alex", "Kate", "Saraa", "Sam", "Gus"]

#single index
print(names[1])
name = names[0]
print(name)
print(names[-1]) #-1 will always be the last item in a list

print("\n")
#print starting at index 1 and going to the end of the list
print(names[1:])
new_names = names[2:]
print(new_names)

print("\n")
#print starting at the beginning of the list and going to a specified index (just like range it is non-inclusive)
print(names[:2])
print("\n")

#print starting at index 1 and stepping by 2
print(names[1::2])

#print starting at the back and go to the front of the list
print(names[::-1])
reverse_list = names[::-1]
print(reverse_list)

Alex
Ryan
Gus


['Alex', 'Kate', 'Saraa', 'Sam', 'Gus']
['Kate', 'Saraa', 'Sam', 'Gus']


['Ryan', 'Alex']


['Alex', 'Saraa', 'Gus']
['Gus', 'Sam', 'Saraa', 'Kate', 'Alex', 'Ryan']
['Gus', 'Sam', 'Saraa', 'Kate', 'Alex', 'Ryan']

### List Methods

##### .append()

In [44]:
#always adds an element to the end of a list
#our_list.append(thing we're appending)
names = ["Ryan", "Alex", "Kate", "Saraa", "Sam", "Gus"]

names.append('Derrick')
print(names)

names.append("Aryan")
print(names)

['Ryan', 'Alex', 'Kate', 'Saraa', 'Sam', 'Gus', 'Derrick']
['Ryan', 'Alex', 'Kate', 'Saraa', 'Sam', 'Gus', 'Derrick', 'Aryan']

##### .insert()

In [49]:
#our_list.insert(index, value)
names = ["Ryan", "Alex", "Kate", "Saraa", "Sam", "Gus"]

names.insert(2, "Marc")
print(names)

names.insert(len(names), "Eduardo")
names.append("Eduardo")
print(names)

['Ryan', 'Alex', 'Marc', 'Kate', 'Saraa', 'Sam', 'Gus']
['Ryan', 'Alex', 'Marc', 'Kate', 'Saraa', 'Sam', 'Gus', 'Eduardo', 'Eduardo']

##### .pop()

In [56]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

names = ["Ryan", "Alex", "Kate", "Saraa", "Sam", "Gus"]
names.pop(0)
print(names)

popped_friend = names.pop(2)
print(popped_friend)
print(names)

names.pop()
print(names)

['Alex', 'Kate', 'Saraa', 'Sam', 'Gus']
Saraa
['Alex', 'Kate', 'Sam', 'Gus']
['Alex', 'Kate', 'Sam']

##### .remove()

In [61]:
# value to be removed, not an index
names = ['Bob', 'Billy', 'Berry', "Bob", "Bertha", 'Bob', "Bob", 'Bert']

for name in names:
    if name == "Bob":
        names.remove(name)

print(names)

['Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

In [62]:
names = ['Bob', 'Billy', 'Berry', "Bob", "Bertha", 'Bob', "Bob", 'Bert']

while "Bob" in names:
    names.remove("Bob")
    
print(names)

['Billy', 'Berry', 'Bertha', 'Bert']

### Working With Lists

##### del()

In [65]:
# index to be removed, not value 
names = ['Bob', 'Billy', 'Berry', "Bob", "Bertha", 'Bob', "Bob", 'Bert']

del(names[0])
print(names)

#del(names)
#print(names)

['Billy', 'Berry', 'Bob', 'Bertha', 'Bob', 'Bob', 'Bert']

##### min()

In [67]:
# return the smallest item in a list
numbers = [2, 5, 3, 12, 1, 54]

print(min(numbers))

names = ["Alphalpha", "Zoop", "Winifred", "alfred"]
#Prioritizes capital letters over lower case and goes in alphabetical order
print(min(names))

1
Alphalpha

##### max()

In [69]:
# returns largest item in a list
numbers = [2, 5, 3, 12, 1, 54]
print(max(numbers))
#Prioritizes lower case letters
names = ["Alphalpha", "Zoop", "Winifred", "alfred"]
print(max(names))

54
alfred

##### sum()

In [70]:
# return the sum of all numbers in a list
numbers = [2, 5, 3, 12, 1, 54]

print(sum(numbers))

77

##### sorted()

In [74]:
#sorted will return a new sorted list, create a new variable
numbers = [2, 5, 3, 12, 1, 54]

print(sorted(numbers))

print(numbers)

sorted_list = sorted(numbers)
print(sorted_list)

print(numbers)

[1, 2, 3, 5, 12, 54]
[2, 5, 3, 12, 1, 54]
[1, 2, 3, 5, 12, 54]
[2, 5, 3, 12, 1, 54]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [80]:
#.sort() will sort the original list
numbers = [2, 5, 3, 12, 1, 54]

numbers.sort()

print(numbers)

[1, 2, 3, 5, 12, 54]

In [81]:
#sorted_list = numbers.sort()

#print(sorted_list)

None

##### Copying a List

In [82]:
# [:] copies a list, doesn't alter original'
numbers = [2, 5, 3, 12, 1, 54]

list_copy = numbers[:]

print("This is my original list", numbers)

print(f"This is my copy: {list_copy}")

This is my original list [2, 5, 3, 12, 1, 54]
This is my copy: [2, 5, 3, 12, 1, 54]

##### Looping Through Lists

In [89]:
#Three ways to loop through a list. one is by index and the other is by value, using the "in" keyword
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]


#Looping by value
for name in names:
    print(name)

print("\n")
#Looping by index with range(len)
# print(len(names))
# for i in range(5):
#     print(i)

for i in range(len(names)):
    print(names[i])
    
print("\n")    
#enumerate
for i, name in enumerate(names):
    print(i, name)

# print(list(enumerate(names)))

Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


0 Han Solo
1 Leia Organa
2 Luke Skywalker
3 Lando Calrissian
4 Mace Windu
[(0, 'Han Solo'), (1, 'Leia Organa'), (2, 'Luke Skywalker'), (3, 'Lando Calrissian'), (4, 'Mace Windu')]

##### 'in' keyword

In [92]:
names = ["Ryan", "Alex", "Kate", "Saraa", "Sam", "Gus"]

if "Jeremy" in names:
    print("Hello Kate")
elif "Gus" in names:
    print("Good Day, Gus")
else:
    print("So long and thanks for all the fish")

Good Day, Gus

##### 'not in' keyword

In [95]:
names = ["Ryan", "Alex", "Kate", "Saraa", "Sam", "Gus"]
if "Alex" not in names:
    print("Sorry Jeremy")
else:
    print("Guten Tag, Jeremy")

Guten Tag, Jeremy

##### Checking an Empty List

In [100]:
l_2 = []
l_3 = None

if l_2 == []:
          print("That is an empty list, would ya just look at it")
if l_3 == l_2:
    print("neat")
else:
    print("that is not neat")

That is an empty list, would ya just look at it
that is not neat

##### Removing Instances with a Loop

In [164]:
#while, remove
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]
while "Ryan" in names:
    names.remove("Ryan")
print(names)
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]
#for loop, remove
for name in names: 
    if name == "Austin":
        names.remove("Austin")
print(names)

['Alex', 'Tenzin', 'Austin', 'Jeong', 'Nate']
['Ryan', 'Alex', 'Tenzin', 'Jeong', 'Nate']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [159]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

empty_list = []
for value in names:
    if value not in empty_list:
        empty_list.append(value)
print(empty_list)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [165]:
nums = [2, 4, 5, 6, 7, 8, 9, 10]
nums_squared = []
for num in nums:
    nums_squared.append(num**2)
print(nums_squared)

nums_squared2 = [num**2 for num in nums]
print(nums_squared2)

nums_squared3 = [num**2 for num in nums if num%2==0]
print(nums_squared3)

[4, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]

In [141]:
print([num**2 for num in nums if num%2==0])

[4, 16, 36, 64, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [167]:
tup_1 = (1,2,3) #declaring a tuple
tup_2 = 4,5,6

print(tup_1)
print(tup_2)

print(type(tup_1))
#can loop through because a tuple is an iterable
for num in tup_1:
    print(num)
    
print(tup_1[1])

(1, 2, 3)
(4, 5, 6)
<class 'tuple'>
<class 'tuple'>
1
2
3
2

In [168]:
#things you cannot do with tuple:
# you cannot alter them
# you cannot add to them
# you cannot remove from them
# leave tuples alone

tup_1 = (1,2,3)

tup_1.add(1)

AttributeError: 'tuple' object has no attribute 'add'

##### sorted()

In [153]:
tup = (20, 5, 1, 10, 95, 123)

sorted_tup = sorted(tup)
print(sorted_tup)
new_tup = tuple(sorted_tup)

print(new_tup)

[1, 5, 10, 20, 95, 123]
(1, 5, 10, 20, 95, 123)

##### Adding values to a Tuple

In [169]:
my_list = [1, 2, 3]
my_list2 = [4,5,6]

my_list3 = my_list + my_list2

print(my_list3)

tup = (20,5 ,1, 10, 95, 123)
print(tup)
tup = tup + (6, )

print(tup)

[1, 2, 3, 4, 5, 6]
(20, 5, 1, 10, 95, 123)
(20, 5, 1, 10, 95, 123, 6)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [ ]:
alist = [1,11,14,5,8,9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [ ]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>

In [ ]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>